@model AnimDispa.Models.ViewModelListeAnimaux

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AnimDispa</h1>
    <p class="lead">Site pour déclarer la perte de son animal de compagnie</p>
</div>
<style>
    .valeur {
        padding-left: 5% !important;
    }

    .fond-col {
        background-color: #FED88B !important;
    }

    .maxheight {
        max-height: 200px;
        height: auto;
        max-width: 100%;
        width: auto;
    }

    .paddingImg {
        padding: 0;
    }

    .accueilInput{
        display: inline-block;
    }
</style>


<div class="row">
    <h2>Liste des dernières disparitions : </h2>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 well">
            <form method="POST" action="">
                <div class="col-sm-6">
                    <label class="col-sm-3">Nom : </label>
                    <input class="form-control text-box accueilInput" type="text" name="nom" value="@Html.DisplayFor(x => x.Nom)" />
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-3">Type : </label>
                    <select id="idType" class="form-control text-box accueilInput" name="idType">
                        <option value="">Tous</option>
                        @foreach (var item in Model.LesTypes) {

                            <option value="@Html.DisplayFor(modelItem => item.Id)"
                                @if (item.Id.ToString() == Model.IdType) {
                                    @:selected
                                }
                            >
                                @Html.DisplayFor(modelItem => item.Libelle)
                            </option>
                        }
                    </select>
                </div>

                <div class="col-sm-6">
                    <label class="col-sm-3">Statut : </label>
                    <select id="idStatut" class="form-control text-box accueilInput" name="idStatut">
                        <option value="">Tous</option>
                        @foreach (var item in Model.LesStatuts) {

                            <option value="@Html.DisplayFor(modelItem => item.Id)"
                                @if (item.Id.ToString() == Model.IdStatut) {
                                    @:selected
                                }
                            >
                                @Html.DisplayFor(modelItem => item.Libelle)
                            </option>
                        }
                    </select>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-3"></label>
                    <input class="form-control text-box accueilInput btn-primary" type="submit" />
                </div>
</form>
        </div>
    </div>

    @foreach (var item in Model.animaux)
    {

        <div class="col-sm-10 col-sm-offset-1 well">
            <div class="col-sm-3 paddingImg">
                <img class="img-responsive maxheight" src="~/content/img/@Html.DisplayFor(modelItem => item.PhotoPrincipale)" alt="Image de l'animal'" />
            </div>


            <div class="col-sm-9">
                <h3 style="margin-top:0px">@Html.DisplayFor(modelItem => item.Nom) - (@Html.DisplayFor(modelItem => item.Race.Type.Libelle))<i class="pull-right" style="color : @Html.DisplayFor(modelItem => item.StatutAnimal.Couleur)">@Html.DisplayFor(modelItem => item.StatutAnimal.Libelle)</i></h3>
                <div class="col-md-12">
                    <table class="table table-condensed table-striped table-bordered">
                        <tr>
                            <td class="col-sm-4 fond-col">Race :</td>
                            <td class="col-sm-4 fond-col">Couleur :</td>
                            <td class="col-sm-4 fond-col">Ville :</td>
                        </tr>
                        <tr>
                            <td class="valeur">@Html.DisplayFor(modelItem => item.Race.Libelle)</td>
                            <td class="valeur">@Html.DisplayFor(modelItem => item.Couleur)</td>
                            <td class="valeur">@Html.DisplayFor(modelItem => item.Ville)</td>
                        </tr>
                        <tr>
                            <td class="col-sm-4 fond-col">Tatouage :</td>
                            <td class="col-sm-4 fond-col">Puce :</td>
                            <td class="col-sm-4 fond-col">Poids :</td>
                        </tr>
                        <tr>
                            <td class="valeur">@Html.DisplayFor(modelItem => item.Tatouage)</td>
                            <td class="valeur">@Html.DisplayFor(modelItem => item.Puce)</td>
                            <td class="valeur">@Html.DisplayFor(modelItem => item.Poids) Kg</td>

                        </tr>
                    </table>
                </div>
                @*<p>C'est mon chat préféré parmis tous les chat que je possède</p>*@
                <p class="pull-right">Propriétaire : @Html.DisplayFor(modelItem => item.Compte.Prenom) @Html.DisplayFor(modelItem => item.Compte.Nom)</p>
                <form method="POST" action="Animaux" target="_blank">
                    <input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.Id)" />
                    <button class="btn btn-info" type="submit">Détails</button>
                </form>
            </div>
        </div>
    }
</div>
