@model AnimDispa.Models.ViewModelAnimauxEdit

@{
    ViewBag.Title = "Add";
}

<div class="jumbotron">
    <h1>AnimDispa</h1>
    <p class="lead">Site pour déclarer la perte de son animal de compagnie</p>
</div>

<h2>Signaler un animal perdu</h2>
<hr />

<div class="form-horizontal">

    <form action="AddConfirm" method="POST" enctype="multipart/form-data">

        <!-- NOM -->
        <div class="form-group">
            <label class="control-label col-md-2" for="nom">Nom</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="nom" name="nom" type="text" value="">
            </div>
        </div>



        <!-- POIDS -->
        <div class="form-group">
            <label class="control-label col-md-2" for="poids">Poids (Kg)</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="poids" name="poids" type="number">
            </div>
        </div>



        <!-- COULEUR -->
        <div class="form-group">
            <label class="control-label col-md-2" for="couleur">Couleur</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="couleur" name="couleur" type="text">
            </div>
        </div>



        <!-- TATOUAGE -->
        <div class="form-group">
            <label class="control-label col-md-2" for="tatouage">Tatouage</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="tatouage" name="tatouage" type="text">
            </div>
        </div>



        <!-- PUCE -->
        <div class="form-group">
            <label class="control-label col-md-2" for="puce">Puce</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="puce" name="puce" type="text">
            </div>
        </div>



        <!-- TYPE -->
        <div class="form-group">
            <label class="control-label col-md-2" for="type">Type</label>
            <div class="col-md-10">

                <select id="type" class="form-control text-box single-line" name="type" required onchange="jsRaces();">
                    <option></option>
                    @foreach (var item in Model.lesTypes)
                    {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Libelle)</option>

                    }
                </select>
            </div>
        </div>



        <!-- RACE -->
        <div class="form-group">
            <label class="control-label col-md-2" for="race">Race</label>
            <div class="col-md-10">

                <select id="race" class="form-control text-box single-line" name="race" required>
                    <option></option>
                    @foreach (var item in Model.lesRaces)
                    {
                        <option hidden class="@Html.DisplayFor(modelItem => item.Type.Id)" value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Libelle)</option>

                    }
                </select>
            </div>
        </div>



        <!-- IMAGE -->
        <div class="form-group">
            <label class="control-label col-md-2" for="img">Image Principale</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line btn-primary" required id="img" name="upload" type="file">
            </div>
        </div>



        <hr />



        <!-- DEPARTEMENT -->
        <div class="form-group">
            <label class="control-label col-md-2" for="departement">Departement</label>
            <div class="col-md-10">

                <select id="departement" class="form-control text-box single-line" name="departement" required>
                    <option></option>
                    @foreach (var item in Model.lesDepartements)
                    {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.numero) - @Html.DisplayFor(modelItem => item.Libelle)</option>

                    }
                </select>
            </div>
        </div>



        <!-- RUE -->
        <div class="form-group">
            <label class="control-label col-md-2" for="rue">Rue</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="rue" name="rue" type="text">
            </div>
        </div>



        <!-- CODE POSTAL -->
        <div class="form-group">
            <label class="control-label col-md-2" for="cp">Code Postal</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="cp" name="cp" type="text">
            </div>
        </div>



        <!-- Ville -->
        <div class="form-group">
            <label class="control-label col-md-2" for="ville">Ville</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="ville" name="ville" type="text">
            </div>
        </div>



        <!-- SUBMIT -->
        <div class="form-group">
            <label class="control-label col-md-2" for="Nom"></label>
            <div class="col-md-10">
                <input class="form-control text-box single-line btn-primary" type="submit">
            </div>
        </div>

    </form>

</div>

<script type="text/javascript">

    function jsRaces() {
        var race = document.getElementById("type").selectedIndex;
        document.getElementById("race").selectedIndex = null;

        $("#race option").each(function () {
            if (this.className == race) {
                this.hidden = false;
            } else {
                this.hidden = true;
            }

        });

    }

</script>