@model AnimDispa.Models.ViewModelAnimaux

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h1>AnimDispa</h1>
    <p class="lead">Site pour déclarer la perte de son animal de compagnie</p>

</div>

<style>
    .table-largeur {
        width: 50%;
    }

    .enteteMsg {
        width: 25%;
    }

    .listMsg {
        background-color: #FFF;
    }

    .textarea-full {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 100px;
        max-height: 400px;
        padding: 10px;
    }
</style>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 well">
        <table class="table table-condensed table-striped table-bordered">
            <tr>
                <td class="table-largeur">
                    <img class="img-responsive" src="~/content/img/@Html.DisplayFor(model => model.animal.PhotoPrincipale)" alt="Image de l'animal'" />
                </td>
                <td><h1>@Html.DisplayFor(model => model.animal.Nom)</h1></td>
            </tr>
            <tr>
                <td>Race</td>
                <td>@Html.DisplayFor(model => model.animal.Race.Libelle)</td>
            </tr>
            <tr>
                <td>Poids</td>
                <td>@Html.DisplayFor(model => model.animal.Poids) kg</td>
            </tr>
            <tr>
                <td>Couleur</td>
                <td>@Html.DisplayFor(model => model.animal.Couleur)</td>
            </tr>
            <tr>
                <td>Tatouage</td>
                <td>@Html.DisplayFor(model => model.animal.Tatouage)</td>
            </tr>
            <tr>
                <td>Puce</td>
                <td>@Html.DisplayFor(model => model.animal.Puce)</td>
            </tr>
            <tr>
                <td>Propriétaire</td>
                <td>@Html.DisplayFor(model => model.animal.Compte.Prenom) @Html.DisplayFor(model => model.animal.Compte.Nom)</td>
            </tr>
            <tr>
                <td>Ville</td>
                <td>@Html.DisplayFor(model => model.animal.Ville)</td>
            </tr>
            <tr>
                <td>Statut</td>
                <td style="color: @Html.DisplayFor(model => model.animal.StatutAnimal.Couleur); font-weight:bold;">@Html.DisplayFor(model => model.animal.StatutAnimal.Libelle)</td>
            </tr>
        </table>
        <div class="col-md-12">
            <div id="googleMap" style="width:100%;height:400px;"></div>

            
            
            
            <script>
                function myMap() {
                    var mapProp = {
                        center: new google.maps.LatLng(47.2261879, -1.6224669),
                        zoom: 15,
                    };
                    var myLatLng = { lat: 47.2261879, lng: -1.6224669 };

                    var marker = new google.maps.Marker({
                        map: map,
                        draggable: true,
                        animation: google.maps.Animation.DROP,
                        position: myLatLng
                    });
                    marker.addListener('click', toggleBounce);

                    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                    google.maps.event.addListener(map, 'click', function (event) {
                        var myLatLng = event.latLng;
                        var lat = myLatLng.lat();
                        var lng = myLatLng.lng();
                        console.log(myLatLng);
                        //alert("lat : " + lat + " long : " + lng)


                        
                        console.log("Avant le ajax");
                        if (confirm("Avez-vous bien vu l'animal ?")) {
                            addMarker(event.latLng, map);
                            $.ajax({
                                method: "GET",
                                url: "@Url.Action("MarkerAdd", "Ajax", new { })",
                                data: { lat: lat , idAnim: @Model.animal.Id , lgt: lng }
                            })
                            .done(function (msg) {
                                alert("Data Saved: " + msg);
                            });
                        }
                    });


                    marker.setMap(map);
                }




                function addMarker(location, map) {
                    var marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                }

                function toggleBounce() {
                    if (marker.getAnimation() !== null) {
                        marker.setAnimation(null);
                    } else {
                        marker.setAnimation(google.maps.Animation.BOUNCE);
                    }
                }
            </script>
            @{
                    foreach (var item in Model.ListeMarker)
                    {

                        var coord = item.Longitude +";"+ item.Latitude;

                    <script>
                        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                        addMarker(coord, map);
                    </script>
                }
            }




            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZi1BzZ5hzvr_BOe2Z6Dh0W2xxgOvLcx0&callback=myMap"></script>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 well">

        @foreach (var item in Model.lesMessages)
        {
            <div>
                <table class="table table-bordered table-condensed listMsg">
                    <tr>
                        <td class="enteteMsg">
                            <p>@Html.DisplayFor(modelItem => item.Date)</p>
                            <p>@Html.DisplayFor(modelItem => item.Compte.Prenom) @Html.DisplayFor(modelItem => item.Compte.Nom)</p>
                            <p style="color: @Html.DisplayFor(modelItem => item.Compte.Role.Couleur)">@Html.DisplayFor(modelItem => item.Compte.Role.Libelle)</p>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Libelle)
                        </td>
                    </tr>
                </table>
            </div>

        }

        @if (Session["IdConnecte"] != null || Model.conf.Value == true)
        {
            <form method="POST" action="/Messages/Create">
                <h3>Laissez un message :</h3>
                <input type="hidden" name="id" value="@Html.DisplayFor(model => model.animal.Id)" />
                <textarea class="textarea-full" name="description" required></textarea>
                <br /><br />
                <input type="submit" class="btn btn-primary" />
            </form>
        }
    </div>
</div>