@model AnimDispa.Models.Types
<!--onclick="return confirm('Voulez-vous vraiment supprimer ?');"-->
@{
    ViewBag.Title = "Index";
}

<h2>@Html.DisplayFor(model => model.Libelle)</h2>
@Html.ActionLink(" Ajouter une race", "Add", new { id = Model.Id }, htmlAttributes: new { @class = "glyphicon-plus btn btn-primary" })
<br /><br />

<div>
    <table class="table table-hover">
        @foreach (var item in Model.LesRaces)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Libelle)
                </td>
                <td style="text-align: right;">
                    
                    @if (item.LesAnimaux.Count == 0) {
                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-trash btn btn-danger" })
                    }

                    @Html.ActionLink(" ", "Edit", new { id = item.Id, }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-warning" })

                </td>
            </tr>
        }
    </table>
</div>
